---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>
            Hello! My name is Tereza.
        </h1>
       
        <p> 
            I'm a computer science stundent at Charles university where I specialize on Artificial Intelligence.
        </p>

        <nav>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    {% include about.html %}
    {% include projects.html %}
    {% include contact.html %}
    {% include footer.html %}

</body>
</html>