<section id="about" class="about">
    <h2>About Me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ac dolor sit amet purus malesuada congue. Maecenas lorem. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Maecenas aliquet accumsan leo. Suspendisse sagittis ultrices augue. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Fusce tellus. Phasellus faucibus molestie nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Praesent id justo in neque elementum ultrices. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.
    </p>
</section>